.admin-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1080px;
    margin: 0px 80px;
    /* border: 2px solid red; */
}

.admin-details-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 2px solid red; */
}

.admin-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    /* border: 2px solid red; */
}

.admin-profile-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edit-profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.edit-profile img{
    width: 30px;
    height: 30px;
}

.admin-cover{
    background-color: rgb(215, 232, 244);
}


.admin-cover img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    /* border: 2px solid red; */
}

.admin-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.admin-details-sub{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.admin-activities{
    padding: 10px;
    border: 2px solid rgb(223, 216, 216);
}

.admin-activities-details-sub{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-left{
    width: 700px;
    padding: 10px;
    margin-top: 70px;
}

.admin-right{
    width: 400px;
    margin-top: 70px;
    margin-right: 30px;
}