.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: #dec4bb;
}


.nav_text .p1{
    font-size: 20px;
    font-weight: 500;
}

.nav_text span{
    color: rgb(203, 91, 153);
}

.navbar-left{
    display: flex;
    justify-content: flex-start;
}

.navbar-left{
 font-size: 20px;
 font-weight: 500;
}


.nav-logo{
    width: 120px;
    height: 60px;
    margin-left: 40px;
}


.nav-profile{
    width: 75px;
    margin-right: 40px;
}

.navbar-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-right img{
    margin-left: 30px;
}

.login-btn button{
    width: 70px;
    height: 30px;
    margin-right: 50px;
    background-color: #ce7f7f;
    color: white;
    border-radius: 5px;
    border: none;
}

@media(max-width:800px){
    .navbar{
        padding: 15px 30px;
    }

    .nav-logo{
        width: 150px;
    }

    .nav-profile{
        width: 60px;
    }
}

