.sidebar{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    width: 100%;
    height: calc(100vh - 100px);
    max-width: 250px;
    background: #fff2ee;
    overflow-y: auto;
}

.sidebar-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 60px;
    padding: 5px 10px;
    border-radius: 6px;
    width: 200px;
    gap: 20px;
    cursor: pointer;
}

.sidebar-item img{
    width: 30px;
    height: 30px;
}

.item-first{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-last{
    display: flex;
    flex-direction: column;
    margin-top: auto; 
    gap: 20px;
}

.my-profile{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.admin-logout{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

@media(max-width:800px){
    .sidebar{
        padding: 30px 0px;
        flex-direction: row;
        width: 100%;
        max-width: none;
        height: auto;
        justify-content: center;
    }

    .sidebar-item{
        margin: 0;
    }
}